spawn-at-startup "bash" "-c" "~/.config/niri/start-up.sh"

// Ask clients to omit client-side decorations (CSD)
prefer-no-csd

input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    mouse {
        // natural-scroll
    }

    warp-mouse-to-focus
    focus-follows-mouse
}

output "eDP-1" {
    mode "1920x1080@60.000"
    scale 1.0
}

layout {
    gaps 8
    center-focused-column "always"

    default-column-width { proportion 0.9; }

    border {
        on
        width 1.5
        active-color "#1b211f"
        inactive-color "#1b211f50"
    }
    focus-ring {
        width 2
        active-color "#00000015"
        inactive-color "#1b211f20"
    }
    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000070"
    }
}

// Keybindings
binds {
    Super+Return { spawn "ghostty"; }
    Super+Space { spawn "bash" "-c" "~/.config/rofi/apps.sh"; }
    Super+Q { spawn "bash" "-c" "~/.config/rofi/wallpaper.sh"; }
    Super+V { spawn "bash" "-c" "~/.config/rofi/clipboard.sh"; }
    Super+E { spawn "neovide"; }
    Super+N { spawn "swaync-client" "-t"; }
    Super+Escape { spawn "hyprlock"; }
    Super+M { spawn "ghostty" "-e" "meowmux"; }
    Super+Shift+M { spawn "ghostty" "-e" "rmpc"; }

    Super+W { close-window; }
    Super+Shift+E { quit; }

    Super+H { focus-column-left; }
    Super+L { focus-column-right; }
    Super+K { focus-window-or-workspace-up; }
    Super+J { focus-window-or-workspace-down; }
    Super+Shift+WheelScrollUp cooldown-ms=150 { focus-window-or-workspace-up; }
    Super+Shift+WheelScrollDown   cooldown-ms=150 { focus-window-or-workspace-down; }

    Super+Shift+H { move-column-left; }
    Super+Shift+L { move-column-right; }
    Super+Shift+K { move-window-up-or-to-workspace-up; }
    Super+Shift+J { move-window-down-or-to-workspace-down; }

    Super+Comma  { consume-window-into-column; }
    Super+Period { expel-window-from-column; }

    Super+R { switch-preset-column-width; }
    Super+F { maximize-column; }
    Super+Shift+F { fullscreen-window; }
    Super+C { center-column; }

    Super+Minus { set-column-width "-10%"; }
    Super+Equal { set-column-width "+10%"; }
    Super+Shift+Minus { set-window-height "-10%"; }
    Super+Shift+Equal { set-window-height "+10%"; }

    Print { spawn "hyprshot" "-m" "output"; }
    Super+Print { spawn "hyprshot" "-m" "window"; }
    Super+Shift+Print { spawn "hyprshot" "-m" "region"; }


    // Fallback number key bindings
    Super+Ctrl+1 { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "6%-"; }
    Super+Ctrl+2 { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "6%+"; }
    Super+Ctrl+3 { spawn "brightnessctl" "set" "5%-"; }
    Super+Ctrl+4 { spawn "brightnessctl" "set" "5%+"; }
    Super+Ctrl+I { spawn "bash" "-c" "~/.config/hypr/toggle-nightlight.sh"; }

    // Mouse wheel bindings
    Super+WheelScrollDown      cooldown-ms=150 { focus-column-right; }
    Super+WheelScrollUp        cooldown-ms=150 { focus-column-left; }
    Super+Alt+WheelScrollUp cooldown-ms=150 { spawn "brightnessctl" "set" "5%+"; }
    Super+Alt+WheelScrollDown   cooldown-ms=150 { spawn "brightnessctl" "set" "5%-"; }
    Super+Ctrl+WheelScrollUp cooldown-ms=150 { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    Super+Ctrl+WheelScrollDown   cooldown-ms=150 { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
}

// Window rules
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    opacity 0.8
}

window-rule {
    match app-id="nm-connection-editor"
    open-floating true
}

gestures {
    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 1500
    }

    dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 1500
    }

    hot-corners {
        top-left
        top-right
        bottom-left
        bottom-right
    }
}
